@{
    ViewData["Title"] = "Contact Page";
}
@model ASPWebApp.ViewModels.ContactViewModel

<h2>Contact Us</h2>

<form asp-action="Contact" method="post">

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Message</label>
        <textarea asp-for="Message" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Send</button>

</form>

@if (!string.IsNullOrEmpty(ViewBag.Message as string))
{
    <div class="alert alert-success mt-3">
        @ViewBag.Message
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}