<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/herosection.css" asp-append-version="true" />
</head>
<body>
<div class="hero">
  <div class="text">
    <p class="text__short">Build Modern Web Applications</p>
    <h1 class="text__title">
        Create Powerful Apps with ASP.NET
    </h1>

    <p class="text__description">
        Develop fast, secure, and scalable web applications using ASP.NET. 
        Learn how to build modern systems with clean architecture, 
        authentication, and powerful backend features.
    </p>

    <a class="text__button" href="#">
        Learn More
    </a>
  </div>
  
  <div class="grid__container">
    <div class="grid__item one"></div>
    <div class="grid__item two"></div>
    <div class="grid__item three"></div>
    <div class="grid__item four"></div>
    <div class="grid__item five"></div>
    <div class="grid__item six"></div>
    <div class="grid__item seven"></div>
    <div class="grid__item eight"></div>
    <div class="grid__item nine"></div>
    <div class="grid__item ten"></div>
    <div class="grid__item eleven"></div>
    <div class="grid__item twelve"></div>
  </div>
</div>
</body>
</html>
