.hero {
  display: flex;
  max-width: 1440px;
  gap: 2em;
  justify-content: space-between;
  margin: 5em 2em;
}

.text {
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.text__short {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #0071ff;
}

.text__title {
  line-height: 1.1;
  margin: 0;
}

.text__description {
  line-height: 145%;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 1em;
}

.text__button {
  max-width: 150px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #0071ff;
  padding: 1em 2em;
  border-radius: 0.5em;
}

.grid__container {
  min-width: 60%;
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(8, 1fr);
}

.grid__item {
  background-color: grey;
  border-radius: 0.5em;
}

.one {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url("/images/2.jpg");
  background-position: center;
  background-size: cover;
}

.two { 
  grid-column: 2 / 5;
  grid-row: 1 / 4;
  background-image: url("/images/1.jpg");
  background-position: center;
  background-size: cover;
}

.three {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  background-image: url("/images/3.jpg");
  background-position: center;
  background-size: cover;
}

.four {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  background-color: #FDF5DD;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
}


.five {
  grid-column: 5 / 7;
  grid-row: 2 / 4;
  background-image: url("/images/4.jpg");
  background-position: center;
  background-size: cover;
}

.six {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
  background-color: #D3F0EE;
  border-radius: 0 100px 0 0;
  -moz-border-radius: 0 100px 0 0;
  -webkit-border-radius: 0 100px 0 0;
}

.seven {
  grid-column: 7 / 8;
  grid-row: 3 / 4;
  background-image: url("/images/5.jpg");
  background-position: center;
  background-size: cover;
}

.eight {
  grid-column: 8 / 9;
  grid-row: 3 / 4;
  border-radius: 50%;
  background-color: #CED7ED;
}

.nine {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background-color: #FADEE0;
  border-radius: 100px 0 0 0;
  -moz-border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0;
}

.ten {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-image: url("/images/6.jpg");
  background-position: center;
  background-size: cover;
}

.eleven {
  grid-column: 3 / 5;
  grid-row: 4 / 6;
  background-image: url("/images/7.jpg");
  background-position: center;
  background-size: cover;
}

.twelve {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  background-image: url("/images/8.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 900px) {
  .grid__container {
    min-width: 50%;
    height: 400px;
    margin-top: 50px;
}
} 
  @media (max-width: 780px) {
    .hero {
      flex-direction: column-reverse;
      margin: 2em 2em;
    }
    
    .text {
      width: 100%;
      text-align: center;
      justify-content: right;
    }
    
    .text__button {
      align-self: center;
    }
  }