
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 12px; border: none;">
            <div class="modal-header" style="border: none; padding: 20px 20px 10px 20px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" style="padding: 0 40px 30px 40px;">
                <div class="mb-3">
                    <div style="display: inline-block; background-color: #fee; border-radius: 50%; padding: 15px; width: 70px; height: 70px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#dc3545" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </div>
                </div>
                <h5 class="modal-title mb-4" id="deleteModalLabel" style="color: #333; font-weight: 500; font-size: 1.25rem;">
                    Are you sure you want to delete this item?
                </h5>
                <div class="d-flex gap-3 justify-content-center">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" 
                            style="padding: 10px 30px; border-radius: 8px; min-width: 130px;">
                        No, cancel
                    </button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn"
                            style="padding: 10px 30px; border-radius: 8px; min-width: 130px; background-color: #dc3545;">
                        Yes, I'm sure
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let deleteFormToSubmit = null;

    function showDeleteModal(form) {
        deleteFormToSubmit = form;
        const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
        modal.show();
        return false;
    }

    document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
        if (deleteFormToSubmit) {
            deleteFormToSubmit.submit();
        }
    });
</script>
